<header class="header">
    <div class="header__image">
        <picture>
            <source media="(max-width: 930px" srcset="../private/images/header/image-hero-mobile.jpg"> 
            <img src="../private/images/header/image-hero.jpg" alt="">
        </picture>
    </div>
    <div class="header__wrapper">
        <div class="space-wrapper">
            {{> navigation 
                navigationTitle = "Immersive experiences that deliver"
            }}
        </div>
    </div>
</header>
