<a href="">
    <img src="../private/icons/footer/icon-facebook.svg" alt="">
</a>
<a href="">
    <img src="../private/icons/footer/icon-twitter.svg" alt="">
</a>
<a href="">
    <img src="../private/icons/footer/icon-pinterest.svg" alt="">
</a>
<a href="">
    <img src="../private/icons/footer/icon-instagram.svg" alt="">
</a>
