<div class="navigation-links">
    <div class="navigation-links__item">
        <a href="">About</a>
    </div>
    <div class="navigation-links__item">
        <a href="">Careers</a>
    </div>
    <div class="navigation-links__item">
        <a href="">Events</a>                
    </div>
    <div class="navigation-links__item">
        <a href="">Products</a> 
    </div>
    <div class="navigation-links__item">
        <a href="">Support</a> 
    </div>
    <div class="navigation-links__icon">
        <a href="" data-overlay-open="">
            <img src="../private/icons/navigation-links/icon-hamburger.svg" alt="">
        </a>        
    </div>
</div>
