.button {
  padding: 0.8em 2.8em;
  border: 2px solid var(--color-gray-600);
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  cursor: pointer;
  transition: all 0.7s ease;
}
.button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 2px solid var(--color-black);
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray-500: hsl(0, 0%, 55%);
  --color-gray-600: hsl(0, 0%, 41%);
}

.footer {
  padding: 3em 0;
  background-color: var(--color-black);
  color: var(--color-white);
}
@media (max-width: 930px) {
  .footer {
    padding: 4em;
  }
}
@media (max-width: 450px) {
  .footer {
    padding: 3em 2em;
  }
}
.footer__row {
  justify-content: space-between;
}
@media (max-width: 930px) {
  .footer__row {
    justify-content: center;
  }
}
.footer__row:not(:last-child) {
  margin-bottom: 1.6em;
}
.footer__icon img {
  display: block;
}
@media (max-width: 930px) {
  .footer__icon img {
    width: 12em;
  }
}
.footer__socialmedia {
  align-self: center;
}
@media (max-width: 930px) {
  .footer__socialmedia {
    display: none;
  }
}
.footer__socialmedia > * {
  position: relative;
  margin-left: 1em;
}
.footer__socialmedia > *:hover::after {
  position: absolute;
  bottom: -0.7em;
  left: 0;
  width: 1.5em;
  content: "";
  border: 1px solid var(--color-white);
}
.footer__socialmedia a {
  text-decoration: none;
}
@media (max-width: 930px) {
  .footer__navigation {
    width: 100%;
    margin: 1.5em 0 0.5em 0;
  }
}
@media (max-width: 930px) {
  .footer__navigation .navigation-links__item {
    margin-bottom: 1em;
    font-size: 22px;
  }
}
.footer__text p {
  margin: 0;
}
@media (max-width: 930px) {
  .footer__text {
    display: none;
  }
}
.footer__socialmedia-mobile {
  display: none;
}
@media (max-width: 930px) {
  .footer__socialmedia-mobile {
    display: block;
    text-align: center;
  }
}
@media (max-width: 930px) {
  .footer__socialmedia-mobile a {
    margin-right: 1em;
    text-decoration: none;
  }
}
@media (max-width: 930px) {
  .footer__socialmedia-mobile a img {
    width: 2em;
  }
}
.footer__text-mobile {
  display: none;
}
@media (max-width: 930px) {
  .footer__text-mobile {
    display: block;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .footer__text-mobile p {
    margin-bottom: 0;
  }
}
@media (max-width: 450px) {
  .footer .space-wrapper {
    padding: 0;
  }
}

.gallery-item {
  position: relative;
}
.gallery-item:hover .gallery-item__title {
  color: var(--color-black);
}
.gallery-item:hover .gallery-item__image img {
  filter: opacity(0.4);
}
.gallery-item__image img {
  display: block;
  width: 100%;
  filter: brightness(0.8);
}
.gallery-item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  margin: 0 0 2em 2.5em;
  text-transform: uppercase;
  color: var(--color-white);
}
@media (max-width: 450px) {
  .gallery-item__title {
    width: 35%;
    margin: 0 0 1em 1em;
  }
}

.gallery__row {
  margin-bottom: 4em;
}
.gallery__row > * {
  flex-basis: 100%;
}
@media (max-width: 930px) {
  .gallery__row {
    margin-bottom: 2em;
  }
}
.gallery__title {
  align-self: center;
}
@media (max-width: 930px) {
  .gallery__title {
    text-align: center;
  }
}
.gallery__button {
  text-align: right;
}
@media (max-width: 930px) {
  .gallery__button {
    display: none;
  }
}
.gallery__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}
@media (max-width: 930px) {
  .gallery__items {
    justify-content: center;
  }
}
.gallery__button-mobile {
  display: none;
}
@media (max-width: 930px) {
  .gallery__button-mobile {
    display: block;
    margin-top: 2.5em;
    text-align: center;
  }
}
.gallery__button-mobile .button {
  padding: 1.2em 4em;
}

.header {
  position: relative;
}
.header__image img {
  width: 100%;
  display: block;
  filter: brightness(0.6);
}
.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation-links > .navigation-links__item {
  display: inline-block;
  margin-right: 2em;
  position: relative;
}
@media (max-width: 930px) {
  .navigation-links > .navigation-links__item {
    display: none;
  }
}
.navigation-links > .navigation-links__item:hover::after {
  position: absolute;
  bottom: -0.7em;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  content: "";
  border: 1px solid var(--color-white);
}
.navigation-links > .navigation-links__item a {
  color: var(--color-white);
  text-decoration: none;
}
.navigation-links__icon {
  display: none;
}
.navigation-links__icon img {
  width: 2.5em;
}
@media (max-width: 930px) {
  .navigation-links__icon {
    display: block;
  }
}
@media (max-width: 930px) {
  .footer__navigation .navigation-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 930px) {
  .footer__navigation .navigation-links__item {
    display: inline-block;
    margin-right: 0;
  }
}
@media (max-width: 930px) {
  .footer__navigation .navigation-links__item a {
    display: block;
  }
}
@media (max-width: 930px) {
  .footer__navigation .navigation-links__icon {
    display: none;
  }
}

.navigation {
  padding-top: 4em;
  color: var(--color-white);
}
.navigation__row > * {
  flex-basis: 100%;
}
.navigation__icon img {
  display: block;
}
@media (max-width: 930px) {
  .navigation__icon img {
    width: 12em;
  }
}
.navigation__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation__title {
  width: 50%;
  margin: 2.1em 0;
  padding: 0.6em;
  font-size: 60px;
  font-family: "JosefinSans-Light";
  text-transform: uppercase;
  border: 1px solid var(--color-white);
}
@media (max-width: 1155px) {
  .navigation__title {
    font-size: 50px;
  }
}
@media (max-width: 930px) {
  .navigation__title {
    width: auto;
    font-size: 45px;
  }
}
@media (max-width: 450px) {
  .navigation__title {
    margin-top: 5em;
    font-size: 36px;
  }
}
.navigation__overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--color-black);
  overflow-x: hidden;
  transition: width 0.7s ease;
}
.navigation__overlay .navigation__row {
  margin-top: 4em;
}
.navigation__overlay-logo {
  align-self: center;
}
.navigation__overlay-logo img {
  width: 12em;
  display: block;
}
.navigation__overlay-close {
  text-align: right;
}
.navigation__overlay-close img {
  width: 2em;
}
.navigation__overlay-elements {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "JosefinSans-Light";
}
.navigation__overlay-elements a {
  display: block;
  margin-bottom: 0.9em;
  font-size: 40px;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .navigation__overlay-elements a {
    font-size: 35px;
  }
}

.presentation {
  position: relative;
}
.presentation__image img {
  display: block;
}
@media (max-width: 930px) {
  .presentation__image img {
    width: 100%;
  }
}
.presentation__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  padding: 6em 0 0 6em;
  background-color: var(--color-white);
}
@media (max-width: 930px) {
  .presentation__text {
    position: static;
    width: auto;
    padding: 5em 0 0 0;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .presentation__text {
    padding: 3em 0 0 0;
  }
}
.presentation__text p {
  margin-top: 1.5em;
  margin-bottom: 0;
}

@font-face {
  font-family: 'Alata-Regular';
  src: url('../private/fonts/Alata-Regular.ttf');
}
@font-face {
  font-family: 'JosefinSans-Light';
  src: url('../private/fonts/JosefinSans-Light.ttf');
}
body {
  margin: 0;
  font-family: "Alata-Regular";
  font-size: 15px;
}
.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.section {
  margin: 10em 0;
}
@media (max-width: 450px) {
  .section {
    margin: 5em 0;
  }
}
.space-wrapper {
  padding: 0 10em;
}
@media (max-width: 1155px) {
  .space-wrapper {
    padding: 0 5em;
  }
}
@media (max-width: 980px) {
  .space-wrapper {
    padding: 0 3em;
  }
}
@media (max-width: 450px) {
  .space-wrapper {
    padding: 0 2em;
  }
}
.row {
  display: flex;
}

.text h2 {
  margin: 0;
  font-family: "JosefinSans-Light";
  font-size: 44px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .text h2 {
    font-size: 35px;
  }
}
.text h4 {
  margin: 0;
  font-family: "JosefinSans-Light";
  font-size: 26px;
}
@media (max-width: 450px) {
  .text h4 {
    font-size: 20px;
  }
}
.text p {
  font-family: "Alata-Regular";
  color: var(--color-gray-500);
}
@media (max-width: 450px) {
  .text p {
    font-size: 18px;
  }
}
