<div class="gallery-item">
    <a href="">
        <div class="gallery-item__image">
            <picture>
                <source media="(max-width: 930px" srcset="{{ gallery-itemImageMobile }}"> 
                <img src="{{ gallery-itemImage }}" alt="">
            </picture>
        </div>
        <div class="gallery-item__title text">
            <h4>{{ gallery-itemTitle }}</h4>
        </div>
    </a>
</div>
