.text h2 {
  margin: 0;
  font-family: "JosefinSans-Light";
  font-size: 44px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .text h2 {
    font-size: 35px;
  }
}
.text h4 {
  margin: 0;
  font-family: "JosefinSans-Light";
  font-size: 26px;
}
@media (max-width: 450px) {
  .text h4 {
    font-size: 20px;
  }
}
.text p {
  font-family: "Alata-Regular";
  color: var(--color-gray-500);
}
@media (max-width: 450px) {
  .text p {
    font-size: 18px;
  }
}
