<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>FrontendMentor-Loopstudios</title>
</head>
<body>
    <div class="page-wrapper">
        {{> header }}
        <section class="section space-wrapper">
            {{> presentation }}
        </section>
        <section class="section space-wrapper">
            {{> gallery 
                galleryTitle = "Our creations"
            }}
        </section>
        {{> footer 
            footerIcon = "../private/icons/icon-logo.svg"
            footerText = "© 2021 Loopstudios. All rights reserved."
        }}
    </div>
    <script src="index.js"></script>
</body>
</html>
