<div class="presentation">
    <div class="presentation__image">
        <picture>
            <source media="(max-width: 930px" srcset="../private/images/presentation/image-interactive-mobile.jpg"> 
            <img src="../private/images/presentation/image-interactive.jpg" alt="">
        </picture>        
    </div>
    <div class="presentation__text text">
        <h2>
            The leader in interactive VR
        </h2>
        <p>
            Founded in 2011, Loopstudios has been producing world-class virtual reality 
            projects for some of the best companies around the globe. Our award-winning 
            creations have transformed businesses through digital experiences that bind 
            to their brand.        
        </p>
    </div>
</div>
